
@font-face {
    font-family: 'omnes';
    src: url('../fonts/omnes/omnes.eot');
    src: url('../fonts/omnes/omnes.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes/omnes.woff') format('woff'),
         url('../fonts/omnes/omnes.ttf') format('truetype'),
         url('../fonts/omnes/omnes.svg#omneslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnes_light';
    src: url('../fonts/omnes/omnes_light.eot');
    src: url('../fonts/omnes/omnes_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes/omnes_light.woff') format('woff'),
         url('../fonts/omnes/omnes_light.ttf') format('truetype'),
         url('../fonts/omnes/omnes_light.svg#omnes_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
