* { @include transition(all ease-in-out .1s); }
body, h1, h2, h3, h4, h5, h6, a, p { @include font-stack-gloriola; }

body { background: url(../images/patterns/debut_light.png); }

.container {
  margin-top: 10px;
}

h1 {
  font-size: 30px;
  color: #394f62;
}

h4 {
  font-size: 20px;
  color: #394f62;
  margin-bottom: 20px;
}


.data-wrap {
  margin-top: 30px;
  padding-bottom: 30px;
}

rect {
  &:nth-child(1) {
    fill: #00ad98;
  }
&:nth-child(2) {
    fill: #00b976;
  }
&:nth-child(3) {
    fill: #2f9fd6;
  }
&:nth-child(4) {
    fill: #b068c4;
  }
&:nth-child(5) {
    fill: #3e586b;
  }
&:nth-child(6) {
    fill: #f9ad29;
  }
&:nth-child(7) {
    fill: #ef9335;
  }
&:nth-child(8) {
    fill: #df5a44;
  }
&:nth-child(9) {
    fill: #9da8a9;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
  border-style:none;
  background: transparent;
}

table {
  background: white;
  padding: 0 10px;
}

footer {
  padding-bottom: 30px;
  text-align: center;
  a {
    @include font-stack-gloriola;
    text-decoration: none;
    font-size: 14px;
    color: #666;
    &:hover {
      text-decoration: none;
      color: lighten(#666, 20%);
    }
    span {
      color: #f2654e;
      padding: 0 5px;
    }
  }
}
