
// Mixins
@mixin petflow-box-shadow($depth) {
	box-shadow: 1px 1px 10px 1px rgba(black, $depth);
}

@mixin font-stack-omnes {
  font-family: 'omnes', helvetica, sans-serif;
}

@mixin font-stack-omnes-light {
  font-family: 'omnes_light', helvetica, sans-serif;
}

@mixin font-stack-gloriola {
  font-family: 'gloriola', helvetica, sans-serif;
}

@mixin background-gradient($color1, $color2) {
  @include filter-gradient($color1, $color2, horizontal); // IE6-9
  @include background-image(linear-gradient(left,  $color1 0%, $color2 100%));
}

// CLEAR FIX based off of Nicholas Gallagher's Micro Clear Fix trick
%cf:before,
%cf:after {
    content: " ";
    display: table;
}

%cf:after {
    clear: both;
}

%cf {
    *zoom: 1;
}
